@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   background:  #f2f2f2;
}

body {
  color: #0D0D0B;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .background {
    background: url('/background.png'); 
  }
}

